body {
    background-color: rgb(187, 211, 255);
    color: white;
    text-align: center;
    padding: 5px;
}


#medioFondo img{
    width: 100%;
    height: 30%;
    border-radius: 10px;
}

#busqueda {
    background-color: #333332;
    border: 1px solid #333332;
}

/*HASTA AQUI ES EL CSS DEL HEADER*/

#divPadreArticle {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:5px;
}

.divsArticulos {
    border: 2px solid black;
    border-radius: 30px;
    margin: 5px;
    background-color: white;
    color: black;
    
}

.divsArticulos p img {
    width: 80px;
    height: 125px;
}

footer {
    background-color: #333332;
}