body {
    background-color: rgb(187, 211, 255);
    text-align: center;
    padding: 5px;
}

#general {
    width: 80%;
    height: 700px;
    margin: 10%;
    background-color: white;
    border-radius:30px;

}

#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#container > div {
    border: 3px solid black;
    border-radius: 15px;
    
    width: 40%;
    margin-top: 5%;
}

#registro {
    height: 350px;
    margin-bottom: 5%;
}

#login {
    height: 200px;
}